<div class="container">
  <div class="row">
    <div class="plan-leftbar col-sm-4">
		<h4>Trip title:<br>
			<%= @trip.trip_title %></h4><br>
		<h5>Trip details:<br>
			<%= @trip.trip_details %></h5><br>
		<%= link_to "Edit", edit_trip_path(@trip), class: "btn-gradient-radius" %><br>

			<div class="plan-list">
			<% @trip.lists.each do |list| %>
					Day.<%= list.day_index %><br>
					list_title:<%= list.list_title %><br>
					Date:<%= list.date.strftime('%Y/%m/%d') %>
					<%= list.begin.strftime('%H:%M') %>～
					<%= list.end.strftime('%H:%M') %><br>
					City:<%= list.city.city_name %><br>
					Activity:<%= list.activity.activity_name %><br>
					list_details:<%= list.list_details %><br>

					<%= link_to "Edit", edit_list_path(list), class: "btn-gradient-radius" %><br>
					<%= link_to "Delete", list_path(list), method: :delete, "data-confirm" => "Are you sure?", class: "btn-gradient-radius" %><br>
			<% end %>
		    </div>
    </div>
	<div class="plan-rightbar col-sm-8">
		<%= form_for @list do |f| %>
			<div class="field">
			    <%= f.label :day_index, "Day" %>
			    <%= f.text_field :day_index %>
            </div>
			<div class="field">
			    <%= f.label :date, "Date" %>
			    <%= f.date_field :date %>
            </div>
			<div class="field">
			    <%= f.label :begin, "Start from" %>
			    <%= f.time_field :begin %>
            </div>
			<div class="field">
			    <%= f.label :end, "finish by" %>
			    <%= f.time_field :end %>
            </div>
			<div class="field">
			    <%= f.label :list_title, "List Title" %>
			    <%= f.text_field :list_title %>
            </div>
			<div class="field">
			    <%= f.label :list_details, "List Details" %>
			    <%= f.text_area :list_details %>
            </div>
			<div class="field">
			    <%= f.label :city_id, "City" %>
			    <%= f.collection_select :city_id, City.all, :id, :city_name %>
            </div>
			<div class="field">
			    <%= f.label :activity_id, "Activity" %>
			    <%= f.collection_select :activity_id, Activity.all, :id, :activity_name %>
            </div>
                <%= f.hidden_field :trip_id, value: @trip.id %>
            <%= f.submit :CREATEandNew, class: "btn-gradient-radius" %>
        <% end %>
            <%= link_to "finish!!", result_trip_path(@trip), class: "btn-gradient-radius" %>
    </div>
  </div>
</div>
