<div class="flexbox">
  <section class="side">
		<h4>旅行のタイトル:<br><%= @trip.trip_title %></h4>
		<div>詳細:<br><%= @trip.trip_details %>
		</div>
		<div><%= link_to "Edit", edit_trip_path(@trip), class: "btn-gradient-radius" %>
		</div>
		<div class="plan-list">
			<% @trip.lists.each do |list| %>
					<%= list.day_index %>日目<br>
					list_title:<%= list.list_title %><br>
					Date:<%= list.date.strftime('%Y/%m/%d') if list.date? %>
					<%= list.begin.strftime('%H:%M') if list.begin? %>～
					<%= list.end.strftime('%H:%M') if list.end? %><br>
					City:<%= list.city.city_name %><br>
					Activity:<%= list.activity.activity_name %><br>
					list_details:<%= list.list_details %><br>

					<%= link_to "Edit", edit_list_path(list), class: "btn-gradient-radius" %><br>
					<%= link_to "Delete", list_path(list), method: :delete, "data-confirm" => "Are you sure?", class: "btn-gradient-radius" %><br>
			<% end %>
		</div>
  </section>
  <section class="main">
  	<h1>計画作成</h1>
		<%= form_for @list do |f| %>
			<div class="field">
			    <%= f.label :day_index, "Day" %><br>
			    <%= f.text_field :day_index %>
            </div>
			<div class="field">
			    <%= f.label :date, "Date" %><br>
			    <%= f.date_field :date %>
            </div>
			<div class="field">
			    <%= f.label :begin, "開始" %><br>
			    <%= f.time_field :begin %>
            </div>
			<div class="field">
			    <%= f.label :end, "終了" %><br>
			    <%= f.time_field :end %>
            </div>
			<div class="field">
			    <%= f.label :list_title, "タイトル" %><br>
			    <%= f.text_field :list_title %>
            </div>
			<div class="field">
			    <%= f.label :list_details, "詳細" %><br>
			    <%= f.text_area :list_details %>
            </div>
			<div class="field">
			    <%= f.label :city_id, "都市" %><br>
			    <%= f.collection_select :city_id, City.all, :id, :city_name %>
            </div>
			<div class="field">
			    <%= f.label :activity_id, "アクティビティ" %><br>
			    <%= f.collection_select :activity_id, Activity.all, :id, :activity_name %>
            </div>
                <%= f.hidden_field :trip_id, value: @trip.id %><br>
            	<%= f.submit :"新規作成", class: "btn-gradient-radius" %>
        <% end %>
            <div>旅行計画できた！
            	<%= link_to "結果画面へ", result_trip_path(@trip), class: "btn-gradient-radius" %>
            </div>
  </section>
</div>
