<div class="trip-side-box">
	<div class="top-area-side">
		<div class="day-area-side">
			<div class="day-side">Days.</div>
			<div class="day-no-side"><%= days %></div>
		</div>
        <div class="trip-image-side">
			<%= trip.trip_image.attached? ? image_tag(trip.trip_image) : image_tag("no_trip_image.jpg") %>
		</div>
	</div>
	<div class="trip-title"><%= trip.trip_title %></div>
	<div class="trip-details">
		<i class="fa fa-comment"></i>
		<div class="trip-details-text"><%= trip.trip_details %></div>
	</div>
	<div class="tag-box">
		<i class="fas fa-tag"></i>
		<% trip.tags.each do |tag| %>
		  <%= link_to "##{tag.tag}", index_tag_path(tag) %>
		<% end %>
	</div>
	<div class="under-area">
		<%= render 'favorite_trips/likes', trip: trip %>
		<div>
		  <% if trip.user_id == current_user.id %>
    		<%= link_to edit_trip_path(trip), class: "btn-flat-logo-green" do %>
				<i class="fas fa-edit"> Edit</i>
			<% end %>
			<%= link_to trip_path(trip), method: :delete, "data-confirm" => "Are you sure?", class: "btn-flat-logo-red" do %>
				<i class="fas fa-trash-alt"> DELETE</i>
			<% end %>
		  <% end %>
		</div>
	</div>
</div>
<div class="list-side-box">
<div>
  <%= link_to new_list_path(trip_id: trip), class: "btn-flat-logo" do %>
    <i class="fas fa-plus"> New list</i>
  <% end %>
</div>
	<%= render 'trips/side_list', trip: trip %>
</div>