<h1>Trips#result</h1>
<h2>Have a nice trip!!</h2>
	<div>
		Trip title:<%= @trip.trip_title %><br>
		Trip details:<%= @trip.trip_details %><br>

        <div><%= @days %>days...</div>

			<% @trip.lists.each do |list| %>
					Day.<%= list.day_index %>
					date:<%= list.date %><br>
					begin:<%= list.begin %>
					end:<%= list.end %><br>
					list_title:<%= list.list_title %><br>
					list_details:<%= list.list_details %><br>
					City:<%= list.city.city_name %><br>
					Activity:<%= list.activity.activity_name %><br>
			<% end %>
    </div>