<h1>Trips#index</h1>
<div class="container">
	<div class="search-bar">
	<p>検索</p>
		<%= form_tag(search_path,:method => 'get') do %>
		  <%= text_field_tag :search %>
		  <%= submit_tag 'Search', :trip_title => nil %>
		<% end %>
	</div>
	<div class="box">
		<% @search_trips.each do |trip| %>
			<%= render 'trips/small_box', trip: trip %>
		<% end %>
	</div>
    <div>
    	<% if @previous_page >= 0  %>
            <%= link_to "/search/#{@previous_page}/", class: "btn-flat-logo-navy" do %>
          		<i class="fas fa-angle-double-left"> Previous</i>
        	<% end %>
        <% end %>
            <%= link_to "/search/#{@next_page}/", class: "btn-flat-logo-navy" do %>
          		 Next<i class="fas fa-angle-double-right"></i>
        	<% end %>
	</div>
</div>