			<% @trips.each do |trip| %>
						<% if trip.favorited_by?(current_user) %>
						  <li>
						    <%= link_to trip_favorite_trips_path(trip), method: :delete do %>
						      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						      <%= trip.favorite_trips.count %> like
						    <% end %>
						  </li>
						<% else %>
						  <li>
						    <%= link_to trip_favorite_trips_path(trip), method: :post do %>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <%= trip.favorite_trips.count %> like
						    <% end %>
						  </li>
						<% end %>

				    "Trip Title"<br>
				    <%= trip.trip_title %><br>
				    TAGs:
						<% trip.tags.each do |tag| %>
						  <%= link_to "##{tag.tag}", tag_trip_path(tag) %>
						<% end %><br>

				    "Trip Details"<br>
				    <%= trip.trip_details %><br>
					<%= link_to "Show", trip_path(trip) %><br>
					<%= link_to "Edit", edit_trip_path(trip) %><br>
			<% end %>