<h1>World Area</h1>
<%= link_to "Asia", asia_path %><br>
<%= link_to "Middle East", middle_east_path %><br>
<%= link_to "Europe", europe_path %><br>
<%= link_to "Africa", africa_path %><br>
<%= link_to "North America", north_america_path %><br>
<%= link_to "South America", south_america_path %><br>
<%= link_to "Oceania", oceania_path %>