<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field-login">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, placeholder: "Nickname", autofocus: true, autocomplete: "NickName" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "btn-flat-border" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
    </div>
  </div>
</div>