<h1>Users#show</h1>
<p>UserID:<%= @user.id %></p>
<p>Nickname：<%= @user.nickname %></p>
<p>Mail：<%= @user.email %></p>
<p>Introduce：<%= @user.introduction %></p>

<%= @user.user_image.attached? ? image_tag(@user.user_image , :size => '100x100') : image_tag("noimage/no_image.jpg") %>

<%= link_to "edit", edit_user_path(@user.id) %>