<div class="flexbox">
  <div class="side user">
  <%= render 'users/profile', user: @user %>
  </div>
  <div class="main">
    <div class="box">
    <% @user.followers.each do |user| %>
      <div class="follow-user-box">
        <div class="profile-box">
            <div class="profile TopLeft"><p>Travelar</p></div>
          <div class="profile TopRight"><%= user.user_image.attached? ? image_tag(user.user_image) : image_tag("/images/no_user_image.jpg") %></div>
          <div class="profile BottomLeft"><%= user.user_image.attached? ? image_tag(user.user_image) : image_tag("/images/no_user_image.jpg") %></div>
          <div class="profile BottomRight"><p><%= user.nickname %></p></div>
        </div>
        <div class="follow-button"><%= render 'follow_form', user: user %></div>
          <div>
            <%= link_to user_path(user), class:"btn-flat-logo" do %>
              <i class="fas fa-caret-right"> User Profile</i>
            <% end %>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>