<div class="header-bg">
    <div class="container-top">
      <div class="lead"> Hello!! New traveler!!</div>
		<div>
            <!-- Signup button -->
            <%= link_to '', "data-toggle": "modal", "data-target": "#signupModal" do %>
              <div class="header-link btn-horizontal-border">
                <i class="fas fa-user-plus"> Signup</i>
              </div>
            <% end %>
            <!-- Signup modal and render -->
            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
              <%= render "users/registrations/new" %>
            </div>
		</div>
	<div class="lead"> Hello!! Traveler!!</div>
		<div>
            <!-- Login button -->
            <%= link_to '', "data-toggle": "modal", "data-target": "#signinModal" do %>
              <div class="header-link btn-horizontal-border">
                <i class="fas fa-sign-in-alt"> Login</i>
              </div>
            <% end %>
            <!-- Login modal and render -->
            <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
              <%= render "users/sessions/new" %>
            </div>
		</div>
    </div>
</div>

<div class="container-horizon">
	<div class="hot-words"><h3><i class="fas fa-globe"> About</i><h3></div>
		<div class="container-inner">
	  	    <div class="about-link-box">
	  	      <div class="about-link-title">
	  	        <div class="about-link-text"><p>Adventure</p></div>
	  	      </div>
	  	      <div class="about-under-area">
	  	      	<div>Get more adventure</div>
		      </div>
		    </div>
	  	    <div class="about-link-box">
	  	      <div class="about-link-title">
	  	        <div class="about-link-text"><p>Creative</p></div>
	  	      </div>
	  	      <div class="about-under-area">
	  	      	<div>Make your original plan</div>
		      </div>
		    </div>
	  	    <div class="about-link-box">
	  	      <div class="about-link-title">
	  	        <div class="about-link-text"><p>Share</p></div>
	  	      </div>
	  	      <div class="about-under-area">
	  	      	<div>Search other travel ideas</div>
		      </div>
		    </div>
		</div>
</div>

<div class="container-horizon">
	<div class="hot-words"><h3><i class="fas fa-tag"></i><a>HOT WORDS</a></h3></div>
	<div class="container-inner">
			<% @tags.shuffle.each do |tag| %>
			<% n = TripTag.where(tag_id: tag.id).count %>
				<div class="tag" style="font-size: -webkit-calc(8px * <%= n %> )">
					<%= "##{tag.tag}" %>
				</div>
			<% end %>
	</div>
</div>

<div class="container-horizon">
	<div class="container-inner">
  	    <div class="top-link-box">
  	      <div class="top-link-title">
  	        <div class="top-link-text"><p>NEW!!</p></div>
  	      </div>
  	      <div class="top-under-area">
  	      	  <div class="top-link-more"> Search more  <i class="far fa-hand-point-right"></i></div>
	          <div  class="top-link-">
	          	<%= link_to search_path(0), class: "btn-flat-logo-navy" do %>
	      	  		<i class="fas fa-search"> Search</i>
	      	  	<% end %>
	      	  </div>
	      </div>
	    </div>

		<% @new_trips.each do |trip| %>
			<div class="plan-s-box">
			          <div class="trip-image">
			            <%= trip.trip_image.attached? ? image_tag(trip.trip_image) : image_tag("no_trip_image.jpg") %>
			          </div>
			    <div class="trip-area">
			        <div class="trip-title">
			          <%= trip.trip_title %>
			        </div>
			        <div class="trip-details">
			          <i class="fa fa-comment"></i>
			          <div class="trip-details-text"><%= trip.trip_details %></div>
			        </div>
			    </div>

				<div class="tag-area">
				  <i class="fas fa-tag"></i>
				  <% trip.tags.first(3).each do |tag| %>
				    <%= "##{tag.tag}" %>
				  <% end %>
				</div>

			    <div class="under-area">
					<div class="likes">
					  <i class="fas fa-heart index" aria-hidden="true" style="color: #E56399;"></i><%= trip.favorite_trips.count %> likes
					</div>
			    </div>
			</div>
		<% end %>
	</div>
</div>