<div class="trip-side-box">
	<div class="top-area-side">
		<div class="day-area-side">
			<div class="day-side">Days.</div>
			<div class="day-no-side"><%= days %></div>
		</div>
        <div class="trip-image-side">
			<%= trip.trip_image.attached? ? image_tag(trip.trip_image) : image_tag("no_trip_image.jpg") %>
		</div>
	</div>
	<div class="trip-title"><%= trip.trip_title %></div>
	<div class="trip-details">
		<i class="fa fa-comment"></i>
		<div class="trip-details-text"><%= trip.trip_details %></div>
	</div>
	<div class="under-area">
      <div class="likes">
        <i class="fas fa-heart index" aria-hidden="true" style="color: #E56399;"></i><%= trip.favorite_trips.count %> likes
      </div>
		<div>
    		<%= link_to admin_edit_trip_path(trip), class: "btn-flat-logo-green" do %>
				<i class="fas fa-edit"> Edit</i>
			<% end %>
			<%= link_to admin_destroy_trip_path(trip), method: :delete, "data-confirm" => "Are you sure?", class: "btn-flat-logo-red" do %>
				<i class="fas fa-trash-alt"> DELETE</i>
		  	<% end %>
		</div>
	</div>
</div>
<div class="list-side-box">
	<%= render 'admin/trips/side_list_admin', trip: trip %>
</div>