<h1>Admin::Activities#edit</h1>
<p>Find me in app/views/admin/activities/edit.html.erb</p>

    <%= form_for @activity, :url => { :controller => :activities, :action => :update } do |f| %>

    <h4>activity_name:</h4>
    <%= f.text_field :activity_name %>

    <h4>description:</h4>
    <%= f.text_area :description %>

    <%= f.submit 'Update' %>

    <% end %>

        <%= link_to " Show ", admin_activity_path(@activity.id) %> | <%= link_to " Back ", admin_activities_path %>
  </div>
</div>