<h1>Admin::Activities#index</h1>
<p>Find me in app/views/admin/activities/index.html.erb</p>

    <div>
		<%= form_for @activity, :url => { :controller => :activities, :action => :create } do |f| %>
		  <div class="field">
		    <%= f.label :activity_name, "Activity Name" %>
		    <%= f.text_field :activity_name %>
		  </div>
		  <div class="field">
		    <%= f.label :description, "Description" %>
		    <%= f.text_area :description %>
		  </div>
		  <div class="field">
		    <%= f.label :city_id, "City" %>
		    <%= f.collection_select :city_id, City.all, :id, :city_name %>
		  </div>
		    <%= f.submit :SAVE %>
		<% end %>
	</div>
	<div>
		<% @activities.each do |activity| %>
		    <h3>activity_ID:<%= activity.id %></h3>
		    <div>activity_name:<%= activity.activity_name %></div>
		    <div>description:<%= activity.description %></div>
		    <div>country:<%= activity.city.country.country_name %></div>
		    <div>city:<%= activity.city.city_name %></div>
		    <div><%= link_to "Edit", edit_admin_activity_path(activity.id) %></div>
		<% end %>
	</div>