<h1>Admin::Activities#show</h1>
<p>Find me in app/views/admin/activities/show.html.erb</p>
	<div>
		    <h3>activity_ID:<%= @activity.id %></h3>
		    <div>activity_name:<%= @activity.activity_name %></div>
		    <div>description:<%= @activity.description %></div>
		    <div>country:<%= @activity.city.country.country_name %></div>
		    <div>city:<%= @activity.city.city_name %></div>
		    <div><%= link_to "Edit", edit_admin_activity_path(@activity.id) %></div>
   		    <div> <%= link_to "Delete", admin_activity_path(@activity.id), method: :delete, "data-confirm" => "Are you sure?" %></div>
	</div>