<!DOCTYPE html>
<html>
  <head>
    <title>Travel Planner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="/assets/jquery.tagit.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <% if admin_signed_in? %>
            <%= link_to admin_top_path  do %>
              <div class="header-left">
                <i class="fas fa-globe-africa"></i><a> Travel Planner</a>
              </div>
            <% end %>
            <div class="header-right">
              <%= link_to "アドミン：仮のリンク" %>
                <div class="header-link">
                </div>
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <div class="header-link">
                  <i class="fas fa-sign-out-alt"> Log Out</i>
                </div>
              <% end %>
            </div>
        <% elsif user_signed_in? %>
            <%= link_to top_path  do %>
              <div class="header-left">
                <i class="fas fa-globe-asia"> Travel Planner</i>
              </div>
            <% end %>
            <div class="header-right">
              <%= link_to user_path(current_user) do %>
                <div class="header-link btn-horizontal-border">
                  <i class="fas fa-user-astronaut"> My Page</i>
                </div>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="header-link btn-horizontal-border">
                  <i class="fas fa-sign-out-alt"> Log Out</i>
                </div>
              <% end %>
            </div>
        <% else %>
            <%= link_to root_path  do %>
              <div class="header-left">
                <i class="fas fa-globe-americas"> Travel Planner</i>
              </div>
            <% end %>
            <div class="header-right">
                <!-- Login button -->
                <%= link_to '', "data-toggle": "modal", "data-target": "#signinModal" do %>
                  <div class="header-link btn-horizontal-border">
                    <i class="fas fa-sign-in-alt"> Login</i>
                  </div>
                <% end %>
                <!-- Login modal and render -->
                <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
                  <%= render "users/sessions/new" %>
                </div>
                <!-- Signup button -->
                <%= link_to '', "data-toggle": "modal", "data-target": "#signupModal" do %>
                  <div class="header-link btn-horizontal-border">
                    <i class="fas fa-user-plus"> Signup</i>
                  </div>
                <% end %>
                <!-- Signup modal and render -->
                <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
                  <%= render "users/registrations/new" %>
                </div>
            </div>
        <% end %>
    </header>

<<<<<<< HEAD
    <main>
      <% if flash[:notice] %>
        <p id=notice><%= flash[:notice] %></p>
      <% end %>

      <%= yield %>
    </main>
    <footer>
      <p class="copyright"><i class="far fa-copyright"> Travel Planner </i></p>
    </footer>
=======
        <footer>
          <p class="copyright">©︎ Travel Planner </p>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/tag-it.js" type="text/javascript" charset="utf-8"></script>
>>>>>>> 0be9c7972d232e841e47f55942d683127e455cf8
  </body>
</html>