<!DOCTYPE html>
<html>
  <head>
    <title>Travel Planner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
                <% if admin_signed_in? %>
                  <div class="header-left"><%= link_to "Travel Planner", admins_top_path %></div>
                      <div class="header-right">
                        <div class="header-link">
                          <%= link_to "アドミン：仮のリンク" %>
                        </div>
                        <div class="header-link">
                          <%= link_to "ログアウト", destroy_admin_session_path , method: :delete, class: "glyphicon glyphicon-log-out logout" %>
                        </div>
                      </div>
                <% elsif user_signed_in? %>
                  <div class="header-left"><%= link_to "Travel Planner", top_path %></div>
                      <div class="header-right">
                        <div class="header-link">
                          <%= link_to "ユーザー仮のリンク" %>
                        </div>
                        <div class="header-link">
                          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
                        </div>
                      </div>
                <% else %>
                  <div class="header-left"><%= link_to "Travel Planner", root_path %></div>
                      <div class="header-right">
                        <div class="header-link">
                          <%= link_to "ログイン", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
                        </div>
                        <div class="header-link">
                          <%= link_to "新規登録", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %>
                        </div>
                      </div>
                <% end %>
        </header>

        <main>
          <% if flash[:notice] %>
            <p id=notice><%= flash[:notice] %></p>
          <% end %>

          <%= yield %>
        </main>
          <footer>
            <p class="copyright">©︎ Travel Planner </p>
          </footer>
  </body>
</html>
